#root {
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.app {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav {
  min-width: 400px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}