:root {
    font-family: Almendra;
    color-scheme: dark;
    background-color: #030303;
    color: whitesmoke;
}

button, input, textarea {
    font-family: Almendra;
}

button {
    background-color: #030303;
    border-radius: 15px;
    border-width: 3px;
    border-color: darkviolet;
    /* color: darkviolet; */
}

h1 {
    color: darkviolet;
}

a {
    text-decoration: none;
    color: darkviolet;
}

ul {
    list-style-type: none;
}